a{
    text-decoration: none;
    padding: 10px;
    font-family: roboto;
    color: bisque;
}
a:hover{
    background-color: grey;
    border-radius: 20px;
}
#d1 {
    background-color: black;
    width: 425px;
    border-radius: 20px;

}
#home
{
    display:inline;
}
 h2+p {
    border-radius: 10px;
    background-color: teal;
}