a{
    text-decoration: none;
    padding: 17px;
    font-family: roboto;
    color: bisque;
}
a:hover{
    background-color: grey;
    border-radius: 20px;
}
#d1 {
    background-color: black;
    width: 425px;
    border-radius: 20px;

}
#home
{
    display:inline;
}
 h2+p {
    border-radius: 10px;
    background-color: teal;
}
.sec {
    border-radius: 10px;
    border-radius: 20px ; width: 1650px; margin-left: 100px;height: 200px;
}

footer{
    text-align: center;
}